@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-multi-carousel/lib/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,700&display=swap");
@import "react-tabs/style/react-tabs.css";
@import "react-dropdown/style.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;900&display=swap");
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

select option:selected {
  background-color: green;
  font-weight: bold;
  color: red;
}

.anchor {
  scroll-margin-top: 80px;
}

details > summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

#arrow::after {
  content: " ►";
}

details[open] #arrow:after {
  content: " ▼";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

img,
video {
  max-width: 100%;
  height: auto;
}

::-moz-selection {
  /* Code for Firefox */
  color: #eaedf2;
  background: #0b1320;
}

::selection {
  color: #eaedf2;
  background: #0b1320;
}
/* Fonts */

.header {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.navbar-h {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.navbar-s {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
}

.hyperlink {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  line-height: 24px;
}

.sm-hyperlink {
  font-family: "Barlow", sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 24px;
}

a:hover {
  text-decoration: none;
}

.breadcrumb {
  content: ">";
}

.button {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.maps-button {
  background-color: "#F28900";
}

.projects-button {
  background-color: "#2666BA";
}

.process-button {
  background-color: "#281C87";
}

.labs-button {
  background-color: "#1C8720";
}

.mines-button {
  background-color: "#BA2926";
}

.sm-button {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 10px;
  line-height: 24px;
  text-transform: uppercase;
}

.heading {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.sm-heading {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

.subheading {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
}

.sm-subheading {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
}

nav.p-0.bg-white.w-full.fixed.z-1.shadow-md {
  z-index: 50;
}
/* 
.vertical {
    height: 100%;
    
    width: 0;
    border: 1px solid black;
} */

.card-heading {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 34px;
  font-size: 24px;
}

.sm-card-heading {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 30px;
  font-size: 24px;
}

.card-subheading {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.sm-card-subheading {
  font-family: "Barlow", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 25px;
}

.section-heading {
  font-family: "Rubik", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
}

.sm-section-heading {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}

.section-subheading {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
}

.sm-section-subheading {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 31px;
}

.container {
  width: 100%;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 500;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

.hello {
  position: relative;
  animation: mymove 20s infinite alternate linear;
  width: fit-content;
}

.hello:hover {
  animation-play-state: paused;
}

@keyframes mymove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-100% + (6 * 300px)));
  }
}

.carousel-focus:hover {
  transition: all 0.8s;
  transform: scale(1.1);
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #ffb317;
  /*Set to match the Tailwind colour you want the active one to be */
}

.overflow-x-hidden {
  overflow-x: hidden;
}
/* Header */

.mega-menu {
  display: none;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
}
/* #hoverable Class Styles */

.hoverable {
  position: static;
}

.hoverable > a:after {
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.hoverable:hover .mega-menu {
  display: block;
}
/* #toggle Class Styles */

.toggleable > label:after {
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
  z-index: 10;
}

.toggle-input {
  display: none;
}

.toggle-input:not(checked) ~ .mega-menu {
  display: none;
}

.toggle-input:checked ~ .mega-menu {
  display: block;
}

.toggle-input:checked + label {
  background: white;
}

.toggle-input:checked ~ label:after {
  font-size: 20px;
  padding-bottom: 6px;
  position: relative;
  top: -1px;
}
/* Chip */

.click-chip {
  padding: 6px 10px;
  border-radius: 10px;
  display: inline-flex;
  margin: 5px;
  cursor: pointer;
}

.click-chip:hover {
  transform: scale(1.1);
  background-color: #cfd2d8;
}

.outline-green {
  border: 1.5px solid black;
  color: black;
  outline: none;
}
/* Search icon */

#demo-2 {
  outline: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input[type="search"] {
  background: white
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

input[type="search"]:focus {
  background-color: #fff;
  border-color: #b3b7be;
  -webkit-box-shadow: 0 0 5px #b3b7be;
  -moz-box-shadow: 0 0 5px #b3b7be;
  box-shadow: 0 0 5px #b3b7be;
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

.bots-card {
  background-color: white;
  height: 200px;
  width: 300px;
}

html,
body {
  margin: 0px;
}

#crmWebToEntityForm.zcwf_lblLeft {
  width: 100%;
  padding: 25px;
  margin: 0 auto;
  box-sizing: border-box;
}

#crmWebToEntityForm.zcwf_lblLeft * {
  box-sizing: border-box;
}

#crmWebToEntityForm {
  text-align: left;
}

#crmWebToEntityForm * {
  direction: ltr;
}
/* 	
	.zcwf_lblLeft .zcwf_title {
	    word-wrap: break-word;
	    padding: 0px 6px 10px;
	    font-weight: bold;
	}
	
	.zcwf_lblLeft .zcwf_col_fld input[type=text],
	.zcwf_lblLeft .zcwf_col_fld textarea {
	    width: 60%;
	    border: 1px solid #ccc !important;
	    resize: vertical;
	    border-radius: 2px;
	    float: left;
	}
	
	.zcwf_lblLeft .zcwf_col_lab {
	    width: 30%;
	    word-break: break-word;
	    padding: 0px 6px 0px;
	    margin-right: 10px;
	    margin-top: 5px;
	    float: left;
	    min-height: 1px;
	}
	
	.zcwf_lblLeft .zcwf_col_fld {
	    float: left;
	    width: 68%;
	    padding: 0px 6px 0px;
	    position: relative;
	    margin-top: 5px;
	}
	
	.zcwf_lblLeft .zcwf_privacy {
	    padding: 6px;
	} */

.zcwf_lblLeft .wfrm_fld_dpNn {
  display: none;
}
/* .dIB {
	    display: inline-block;
	}
	
	.zcwf_lblLeft .zcwf_col_fld_slt {
	    width: 60%;
	    border: 1px solid #ccc;
	    background: #fff;
	    border-radius: 4px;
	    font-size: 12px;
	    float: left;
	    resize: vertical;
	}
	
	.zcwf_lblLeft .zcwf_row:after,
	.zcwf_lblLeft .zcwf_col_fld:after {
	    content: '';
	    display: table;
	    clear: both;
	}
	
	.zcwf_lblLeft .zcwf_col_help {
	    float: left;
	    margin-left: 7px;
	    font-size: 12px;
	    max-width: 35%;
	    word-break: break-word;
	}
	
	.zcwf_lblLeft .zcwf_help_icon {
	    cursor: pointer;
	    width: 16px;
	    height: 16px;
	    display: inline-block;
	    background: #fff;
	    border: 1px solid #ccc;
	    color: #ccc;
	    text-align: center;
	    font-size: 11px;
	    line-height: 16px;
	    font-weight: bold;
	    border-radius: 50%;
	}
	
	.zcwf_lblLeft .zcwf_row {
	    margin: 15px 0px;
	}
	
	.zcwf_lblLeft .formsubmit {
	    margin-right: 5px;
	    cursor: pointer;
	    color: #333;
	    font-size: 12px;
	}
	
	.zcwf_lblLeft .zcwf_privacy_txt {
	    color: rgb(0, 0, 0);
	    font-size: 12px;
	    font-family: Arial;
	    display: inline-block;
	    vertical-align: top;
	    color: #333;
	    padding-top: 2px;
	    margin-left: 6px;
	}
	
	.zcwf_lblLeft .zcwf_button {
	    font-size: 12px;
	    color: #333;
	    border: 1px solid #ccc;
	    padding: 3px 9px;
	    border-radius: 4px;
	    cursor: pointer;
	    max-width: 120px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	
	.zcwf_lblLeft .zcwf_tooltip_over {
	    position: relative;
	}
	
	.zcwf_lblLeft .zcwf_tooltip_ctn {
	    position: absolute;
	    background: #dedede;
	    padding: 3px 6px;
	    top: 3px;
	    border-radius: 4px;
	    word-break: break-all;
	    min-width: 50px;
	    max-width: 150px;
	    color: #333;
	}
	
	.zcwf_lblLeft .zcwf_ckbox {
	    float: left;
	}
	
	.zcwf_lblLeft .zcwf_file {
	    width: 55%;
	    box-sizing: border-box;
	    float: left;
	}
	
	.clearB:after {
	    content: '';
	    display: block;
	    clear: both;
	}
	
	@media all and (max-width: 600px) {
	    .zcwf_lblLeft .zcwf_col_lab,
	    .zcwf_lblLeft .zcwf_col_fld {
	        width: auto;
	        float: none !important;
	    }
	    .zcwf_lblLeft .zcwf_col_help {
	        width: 40%;
	    }
	} */

.background {
  background: -webkit-linear-gradient(
      0.97turn,
      #354346 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: -moz-linear-gradient(
      0.97turn,
      #354346 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: linear-gradient(
      50.8deg,
      #354346 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
}

.maps {
  background: -webkit-linear-gradient(
      0.97turn,
      #f28900 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: -moz-linear-gradient(
      0.97turn,
      #f28900 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: linear-gradient(
      50.8deg,
      #f28900 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
}

.process {
  background: -webkit-linear-gradient(
      0.97turn,
      #4d335c 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: -moz-linear-gradient(
      0.97turn,
      #4d335c 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: linear-gradient(
      50.8deg,
      #4d335c 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
}

.projects {
  background: -webkit-linear-gradient(
      0.97turn,
      #2666ba 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: -moz-linear-gradient(
      0.97turn,
      #2666ba 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: linear-gradient(
      50.8deg,
      #2666ba 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
}

.mines {
  background: -webkit-linear-gradient(
      0.97turn,
      #ba2926 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: -moz-linear-gradient(
      0.97turn,
      #ba2926 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: linear-gradient(
      50.8deg,
      #ba2926 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
}

.labs {
  background: -webkit-linear-gradient(
      0.97turn,
      #1c8720 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: -moz-linear-gradient(
      0.97turn,
      #1c8720 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: linear-gradient(
      50.8deg,
      #1c8720 3.26%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
}

.dxaas {
  background: -webkit-linear-gradient(
      0.97turn,
      #354346 30.86%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: -moz-linear-gradient(
      0.97turn,
      #354346 30.86%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: linear-gradient(
      50.8deg,
      #354346 30.86%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
}

.react-tabs__tab--selected {
  background-color: #000;
  color: white;
}

.common-background {
  background: -webkit-linear-gradient(
      0.97turn,
      #354346 30.86%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: -moz-linear-gradient(
      0.97turn,
      #354346 30.86%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
  background: linear-gradient(
      50.8deg,
      #354346 30.86%,
      rgba(0, 0, 0, 0.35) 38.64%
    ),
    #000;
}

.faq-gradient {

	background: -webkit-radial-gradient( bottom right, #46595D 5%,#C5D0D3 15%,white 80%);
	background: radial-gradient(circle at bottom right,#46595D 5%,#C5D0D3 15%,white 80%);
}