@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-multi-carousel/lib/styles.css";
@import "react-tabs/style/react-tabs.css";
@import "react-dropdown/style.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import 'react-dyn-tabs/style/react-dyn-tabs.css';
@import 'react-dyn-tabs/themes/react-dyn-tabs-card.css';
@import url('../node_modules/pretty-checkbox/dist/pretty-checkbox.min.css'); 
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

select option:selected {
  background-color: green;
  font-weight: bold;
  color: red;
}

.anchor {
  scroll-margin-top: 80px;
}

details > summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}
/* 
#arrow::after {
  content: " ►";
}

details[open] #arrow:after {
  content: " ▼";
} */
/* .faq[open]::before{
  content: '\002D';
}
.faq::before{
  content: '\002B';
} */
.details[open] summary::before{
  content: '\002D';
  font-size: 30px;
}
.details summary::before{
  content: '\002B';
  font-size: 30px;
}
.m-header[open] summary::after{
  content: '▲';
  font-size: 15px;
  font-weight: 400;
  
}
.m-header summary::after{
  content: ' ▼';
  font-size: 15px;
  font-weight: 400;
  
  
}
.m-header[open] summary span{
margin-bottom: 4px;

}
.m-header summary span{
margin-bottom: 4px;
  }
 
.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

img,
video {
  max-width: 100%;
  height: auto;
}

::-moz-selection {
  /* Code for Firefox */
  color: #eaedf2;
  background: #0b1320;
}

::selection {
  color: #eaedf2;
  background: #0b1320;
}
/* Fonts */

.header {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.navbar-h {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.navbar-s {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
}

.hyperlink {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  line-height: 24px;
}

.sm-hyperlink {
  font-family: "Barlow", sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 24px;
}

a:hover {
  text-decoration: none;
}

.breadcrumb {
  content: ">";
}

.button {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.maps-button {
  background-color: "#F28900";
}

.projects-button {
  background-color: "#2666BA";
}

.process-button {
  background-color: "#281C87";
}

.labs-button {
  background-color: "#1C8720";
}

.mines-button {
  background-color: "#BA2926";
}

.sm-button {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 10px;
  line-height: 24px;
  text-transform: uppercase;
}

.heading {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
}

.rating-star {
  width: 15px;
  height: 15px;
  background: url(https://clickup.com/landing/images/icons/rating-star.svg) center/contain no-repeat;
  display: inline-block;
}

.rating {
  display: inline-block;
  vertical-align: text-top;
}
.sm-heading {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

.subheading {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
}

.sm-subheading {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
}

nav.p-0.bg-white.w-full.fixed.z-1.shadow-md {
  z-index: 50;
}
/* 
.vertical {
    height: 100%;
    
    width: 0;
    border: 1px solid black;
} */

.card-heading {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  line-height: 34px;
  font-size: 24px;
}

.sm-card-heading {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  line-height: 30px;
  font-size: 24px;
}

.card-subheading {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.sm-card-subheading {
  font-family: "Barlow", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 25px;
}

.section-heading {
  font-family: "Barlow", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
}

.sm-section-heading {
  font-family: "Barlow", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}

.section-subheading {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
}

.sm-section-subheading {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 31px;
}

.container {
  width: 100%;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 500;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

.hello {
  position: relative;
  animation: mymove 20s infinite alternate linear;
  width: fit-content;
}

.hello:hover {
  animation-play-state: paused;
}

@keyframes mymove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-100% + (6 * 300px)));
  }
}

.carousel-focus:hover {
  transition: all 0.8s;
  transform: scale(1.1);
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #ffb317;
  /*Set to match the Tailwind colour you want the active one to be */
}

.overflow-x-hidden {
  overflow-x: hidden;
}
/* Header */

.mega-menu {
  display: none;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
}
/* #hoverable Class Styles */

.hoverable {
  position: static;
}

.hoverable > a:after {
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.hoverable:hover .mega-menu {
  display: block;
}
/* #toggle Class Styles */

.toggleable > label:after {
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
  z-index: 10;
}

.toggle-input {
  display: none;
}

.toggle-input:not(checked) ~ .mega-menu {
  display: none;
}

.toggle-input:checked ~ .mega-menu {
  display: block;
}

.toggle-input:checked + label {
  background: white;
}

.toggle-input:checked ~ label:after {
  font-size: 20px;
  padding-bottom: 6px;
  position: relative;
  top: -1px;
}
/* Chip */

.click-chip {
  padding: 6px 10px;
  border-radius: 10px;
  display: inline-flex;
  margin: 5px;
  cursor: pointer;
}

.click-chip:hover {
  transform: scale(1.1);
  background-color: #cfd2d8;
}

.outline-green {
  border: 1.5px solid black;
  color: black;
  outline: none;
}
/* Search icon */

#demo-2 {
  outline: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input[type="search"] {
  background: white
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

input[type="search"]:focus {
  background-color: #fff;
  border-color: #b3b7be;
  -webkit-box-shadow: 0 0 5px #b3b7be;
  -moz-box-shadow: 0 0 5px #b3b7be;
  box-shadow: 0 0 5px #b3b7be;
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

.bots-card {
  background-color: white;
  height: 200px;
  width: 300px;
}

html,
body {
  margin: 0px;
}

#crmWebToEntityForm.zcwf_lblLeft {
  width: 100%;
  padding: 25px;
  margin: 0 auto;
  box-sizing: border-box;
}

#crmWebToEntityForm.zcwf_lblLeft * {
  box-sizing: border-box;
}

#crmWebToEntityForm {
  text-align: left;
}

#crmWebToEntityForm * {
  direction: ltr;
}
/* 	
	.zcwf_lblLeft .zcwf_title {
	    word-wrap: break-word;
	    padding: 0px 6px 10px;
	    font-weight: bold;
	}
	
	.zcwf_lblLeft .zcwf_col_fld input[type=text],
	.zcwf_lblLeft .zcwf_col_fld textarea {
	    width: 60%;
	    border: 1px solid #ccc !important;
	    resize: vertical;
	    border-radius: 2px;
	    float: left;
	}
	
	.zcwf_lblLeft .zcwf_col_lab {
	    width: 30%;
	    word-break: break-word;
	    padding: 0px 6px 0px;
	    margin-right: 10px;
	    margin-top: 5px;
	    float: left;
	    min-height: 1px;
	}
	
	.zcwf_lblLeft .zcwf_col_fld {
	    float: left;
	    width: 68%;
	    padding: 0px 6px 0px;
	    position: relative;
	    margin-top: 5px;
	}
	
	.zcwf_lblLeft .zcwf_privacy {
	    padding: 6px;
	} */

.zcwf_lblLeft .wfrm_fld_dpNn {
  display: none;
}
/* .dIB {
	    display: inline-block;
	}
	
	.zcwf_lblLeft .zcwf_col_fld_slt {
	    width: 60%;
	    border: 1px solid #ccc;
	    background: #fff;
	    border-radius: 4px;
	    font-size: 12px;
	    float: left;
	    resize: vertical;
	}
	
	.zcwf_lblLeft .zcwf_row:after,
	.zcwf_lblLeft .zcwf_col_fld:after {
	    content: '';
	    display: table;
	    clear: both;
	}
	
	.zcwf_lblLeft .zcwf_col_help {
	    float: left;
	    margin-left: 7px;
	    font-size: 12px;
	    max-width: 35%;
	    word-break: break-word;
	}
	
	.zcwf_lblLeft .zcwf_help_icon {
	    cursor: pointer;
	    width: 16px;
	    height: 16px;
	    display: inline-block;
	    background: #fff;
	    border: 1px solid #ccc;
	    color: #ccc;
	    text-align: center;
	    font-size: 11px;
	    line-height: 16px;
	    font-weight: bold;
	    border-radius: 50%;
	}
	
	.zcwf_lblLeft .zcwf_row {
	    margin: 15px 0px;
	}
	
	.zcwf_lblLeft .formsubmit {
	    margin-right: 5px;
	    cursor: pointer;
	    color: #333;
	    font-size: 12px;
	}
	
	.zcwf_lblLeft .zcwf_privacy_txt {
	    color: rgb(0, 0, 0);
	    font-size: 12px;
	    font-family: Arial;
	    display: inline-block;
	    vertical-align: top;
	    color: #333;
	    padding-top: 2px;
	    margin-left: 6px;
	}
	
	.zcwf_lblLeft .zcwf_button {
	    font-size: 12px;
	    color: #333;
	    border: 1px solid #ccc;
	    padding: 3px 9px;
	    border-radius: 4px;
	    cursor: pointer;
	    max-width: 120px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	
	.zcwf_lblLeft .zcwf_tooltip_over {
	    position: relative;
	}
	
	.zcwf_lblLeft .zcwf_tooltip_ctn {
	    position: absolute;
	    background: #dedede;
	    padding: 3px 6px;
	    top: 3px;
	    border-radius: 4px;
	    word-break: break-all;
	    min-width: 50px;
	    max-width: 150px;
	    color: #333;
	}
	
	.zcwf_lblLeft .zcwf_ckbox {
	    float: left;
	}
	
	.zcwf_lblLeft .zcwf_file {
	    width: 55%;
	    box-sizing: border-box;
	    float: left;
	}
	
	.clearB:after {
	    content: '';
	    display: block;
	    clear: both;
	}
	
	@media all and (max-width: 600px) {
	    .zcwf_lblLeft .zcwf_col_lab,
	    .zcwf_lblLeft .zcwf_col_fld {
	        width: auto;
	        float: none !important;
	    }
	    .zcwf_lblLeft .zcwf_col_help {
	        width: 40%;
	    }
	} */
  
.section-maps {
  /* background-image: linear-gradient(109.6deg, #fceabb 11.2%, #f8b500 91.1%); */
  background-color: #fceabb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ffcc00' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23ff0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ffd914' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23ff2900' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ffe529' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23ff5200' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23ffef3d' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ff7a00' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23fff852' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23ffa300' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23ffff66' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23ffcc00' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.section-projects {
  /* background-image: linear-gradient(109.6deg, rgba(156, 252, 248, 1) 11.2%, rgba(110, 123, 251, 1) 91.1%); */
  background-color: #9CFCF8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%236e7bfb' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23679be0' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%238b95dd' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%237ba8e4' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23a8b0bf' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%238fb6e8' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23c5caa2' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23a4c3ed' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23e2e584' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23b8d1f1' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23ffff66' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23ccdef5' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.section-labs {
  /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
  background-color: #D4FC79;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2396e6a1' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%231c8720' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23a4eb9f' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%231c8720' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23b3ef9e' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%231c8720' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23c1f49d' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%231c8720' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d0f89c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%231c8720' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23dffc9c' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%231c8720' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.section-process {
  background-color: #D6D4ED;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ccdef5' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%235449ab' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23a9c1ea' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%235449ab' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%238ba4dd' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%235449ab' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%237287cf' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%235449ab' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%236068be' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%235449ab' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%235449ab' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%235449ab' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.section-mines {
  /* https://www.svgbackgrounds.com/
  background-image: linear-gradient(to right, #F2BCBB, #BA2926); */
  background-color: #F5CDCC;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f093a0' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23ba2926' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23f093a0' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23c53e3e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23f093a0' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23d05357' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f093a0' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23da696f' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23f093a0' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23e57e88' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23f093a0' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23f093a0' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.banner-mines {
  /* transform: translate(20%, -10%);
  content: '';
  display: block;
  position: absolute; */
  /* width: 1382px;
  height: 780px; */
  /* left: 10%;
  top: 10%; */
  background: url(/aare.svg) no-repeat bottom right/cover;
  /* width: 782px;
  height: 780px; */
}

.background-anim {
  background: linear-gradient(81.86deg, #607A80 1.11%, rgba(8, 15, 25, 0.87) 44.32%, #000000 100%);
}

.maps {
  background: linear-gradient(81.78deg, #F28900 1.11%, rgba(157, 89, 0, 0.92) 26.79%, #000000 105.58%);
}

.bg-maps {
  background: #FFEFD5;
}

.process {
  background: linear-gradient(81.25deg, #5449AB 1.1%, rgba(40, 34, 80, 0.94) 37.78%, #000000 137.35%);
}

.bg-process {
  background: #D6D4ED;
}

.projects {
  background: linear-gradient(81.99deg, #2666BA 1.11%, rgba(34, 54, 80, 0.94) 43.39%, #000000 110.21%);
}

.bg-projects {
  background: #CCDEF5;
}

.mines {
  background: linear-gradient(81.8deg, #BA2926 1.11%, rgba(80, 35, 34, 0.94) 64.09%, #000000 124.39%)
}

.bg-mines {
  background: #F5CDCC;
}

.labs {
  background: linear-gradient(81.85deg, #1C8720 1.11%, rgba(40, 80, 34, 0.94) 44.74%, #000000 122.27%);
}

.dxaas {
  background: linear-gradient(81.86deg, #607A80 1.11%, rgba(8, 15, 25, 0.87) 44.32%, #000000 100%);
}

.bg-image {
  
}

.dots-wrapper {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url(https://assets-global.website-files.com/60a5136f2c6c8e4fb3a130d9/60abc6de18e7521211e636e5_dots-tile.svg);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: repeat-x;
}

.react-tabs__tab--selected {
  background-color: #000;
  color: white;
}

.common-background {
  background: linear-gradient(81.86deg, #607A80 1.11%, rgba(8, 15, 25, 0.87) 44.32%, #000000 100%);
}

.faq-gradient {

  background: hsla(190, 14%, 32%, 1);

background: linear-gradient(135deg, hsla(190, 14%, 32%, 1) 10%, hsla(217, 24%, 93%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(190, 14%, 32%, 1) 10%, hsla(217, 24%, 93%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(190, 14%, 32%, 1) 10%, hsla(217, 24%, 93%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#46595D", endColorstr="#EAEDF2", GradientType=1 );
}


#video-bg {
 
  width: auto;
  min-width: 100%;
  height: auto;
  background: transparent url('https://storage.googleapis.com/ktern-public-files/Videos/Sign%20Off.mp4') no-repeat;
  background-size: cover;
}
video {
  display: block;
}
.video-container {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  
  
  right: 0;
  z-index: -100;
}

.events{
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.events-bg{
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}
.events-banner{
  background: hsla(355, 74%, 62%, 1);

background: linear-gradient(90deg, hsla(355, 74%, 62%, 1) 0%, hsla(0, 0%, 3%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(355, 74%, 62%, 1) 0%, hsla(0, 0%, 3%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(355, 74%, 62%, 1) 0%, hsla(0, 0%, 3%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E65763", endColorstr="#080808", GradientType=1 );
}
.live-text{
  background:linear-gradient(to right, rgb(255, 228, 230), rgb(204, 251, 241))
}


::ng-deep .go2197912528{
  background-color: #000;
}